html {
    background-color: aquamarine;
}
.banner .welcome{
    color: #54620c;
    -webkit-text-stroke: 2px darkorange;
}
.sticky {
    z-index: -1; ;
    position:-webkit-sticky;
    position:sticky;
    top: 50%;
}